@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Nunito + Sans;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  background-color: #31a2b6;
  transition: background-color 5000s ease-in-out 0s;
}

.side_scrollbar::-webkit-scrollbar {
  width: 0px;
  border-radius: 100vh;
}
.side_scrollbar::-webkit-scrollbar-thumb {
  display: hide;
}

.ReactTags__tags {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.ReactTags__tagInput {
  width: 200px;
  border-radius: 2px;
  display: inline-block;
}
.ReactTags__tagInput input.ReactTags__tagInputField {
  margin: 0;
  outline: none;
  font-size: 12px;
  width: 100%;
  border: 1px solid #e2e5ec;
  padding: 10px;
  border-radius: 10px;
  align-self: flex-start;
}

.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  border: 1px solid rgb(141, 141, 207);
}

.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  font-size: 12px;
  display: inline-block;
  padding: 10px;
  margin: 0px 7px 7px 0px;
  cursor: default !important;
  border-radius: 10px;
  position: relative;
}

.ReactTags__remove {
  color: #7f8aed;
  right: -4px;
  cursor: pointer;
  position: absolute;
  top: -14px;
  font-size: 18px;
}
.ReactTags__suggestions {
  position: absolute;
}
.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: white;
  width: 200px;
}
.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 10px 10px;
  margin: 0;
}
.ReactTags__suggestions li mark {
  background: none;
}
.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}

.react-datepicker__input-container input {
  width: 100%;
  border: 1px solid #e2e5ec;
  border-radius: 10px;
  font-size: 12px;
  padding: 8px;
}
.react-datepicker-ignore-onclickoutside {
  outline: 1px solid rgb(59 130 246);
}
